*{
    --colorBg: #110327;

    --colorLetter: #e8e5ec; /* Iris Isie */

    --transparent: hsla(255, 20%, 54%, 0.068); 

    --especialColor: #ff4466; /* Magic Potion */
    

    --especialColor2: #e9023a; /* Neon Romance */
}