@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    --corBg: #ededed;
    --corLetra: #000000;
    --transparente: hsla(261, 92%, 15%, 0.068); 
    --corEspecial: #c9751b;
    --corEspecial2:#ef652a;

    font-family: 'Comfortaa';
}


body{
    background-color: var(--corBg);
    color: var(--corLetra);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Cabeçalho */
header{
    width: 100%;
    height: 50px;

    font-size: 1.3rem;
    color: var(--corLetra);
    font-weight: 700;

    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-around;

    transition: .5s;
}

header:hover{
    height: 90px;
    background-color: var(--transparente);
}

header a,header a:visited{
    color: var(--corLetra);
}


#nome{
    font-size: 2rem;
    
}

#partes{
    width: 20%;
    display: flex;
    justify-content: space-around;
}

#partes a:hover{
    color: var(--corEspecial);
    transition: .3s;
}

#email,#temaBtn{
    font-weight: 700;
    text-align: center;
    
    border: 3px solid var(--corLetra);
    border-radius: 10px;
    padding: .5rem;
    transition: .5s;
}

#email:hover, #temaBtn:hover {
    background-color: var(--corLetra);
    border-radius: 50px;
    color: var(--corBg);
    transition: .5s;
}

/* Main */
main{
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#externo,#interno{
    position: absolute;
    z-index: -1;

    animation-iteration-count: infinite;
    animation-duration: 20s;
}

#externo{
    width: 35%;
    left: 250px;
    animation-name: rodarDireita;
}

#interno{
    width: 20%;
    left: 400px;
    animation-name: rodarEsquerda;
}

/* Principal */
#inicial{
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    border-bottom: 5px solid var(--corLetra);
    padding-bottom: 1rem;

    font-size: 3rem;
    text-align: center;
}

.titulo{
    border-bottom: 5px solid var(--corEspecial);
    margin: 25px;

    font-size: 3rem;
    font-weight: 700;
    color: var(--corEspecial);
}

#habilidades{
    background-color: var(--transparente);
    border-radius: 50px;
    padding: 3rem;
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px 0px;
}

.card{
    width: 33%;
    display: flex;
    align-items: center;
}

.iconeHabilidade{
    width: 20%;
    margin: 10px;
}

.infos{
    height: 100px;

    font-size: 3rem;
    font-weight: 700;
    color: var(--corEspecial2);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#projetos{
    background-color: var(--transparente);
    border-radius: 50px;
    padding: 2rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

#projetos .card{
    width: 45%;
    border: 5px solid var(--corEspecial);
    padding: 10px;
}

.projetosIcone{
    width: 40%;
}

.projetosIcone img{
    width: 300px;
}

.iconeHabilidade{
    width: 20%;
}

.descricao{
    font-size: 1rem;
}

#projetos .infos{
    margin-left: 10px;
}

#sobre{
    margin: 40px;
    padding: 20px;

    display: flex;
    justify-content: center;
}

#foto{
    width: 30%;
}

#info{
    width: 50%;
    margin-left: 30px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#projetos .linguagens{
    display: flex;
    align-items: center;
}

.linguagens .iconeHabilidade{
    width: 10%;
}

#descri{
    font-size: 2rem;

}

footer{
    width: 100%;
    height: 300px;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.subTitulo{
    font-size: 3rem;
    text-align: center;
}

#social{
    font-size: 6rem;
    color: var(--corEspecial2);
}

@keyframes rodarDireita{
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }
}

@keyframes rodarEsquerda{
    0%{
        transform: rotate(360deg);
    }

    100%{
        transform: rotate(0);
    }
}