@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;

    font-family: 'Comfortaa';
}

body{
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Cabeçalho */
header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.3rem;
    color: black;
    transition: .5s;
    padding: 2rem;
    font-weight: 700;
}

header:hover{
    height: 90px;
    background-color: hsla(261, 92%, 15%, 0.068);
}


header a:visited, header a::after{
    color: black;
}

#nome{
    font-size: 2rem;
    
}

#partes{
    width: 20%;
    display: flex;
    justify-content: space-around;
}

#partes a:hover{
    color: #c9751b;
    transition: .3s;
}

#email{
    font-weight: 700;
    width: 7%;
    border-radius: 10px;
    padding: .5rem;
    border: 3px solid black;
    text-align: center;
    transition: .5s;
}

#email:hover {
    border-radius: 50px;
    transition: .5s;
    background-color: black;
    color: #ededed;
}

/* Main */
main{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#externo{
    width: 35%;
    position: absolute;
    animation-name: rodarDireita;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    left: 250px;
    z-index: -1;
}

#interno{
    width: 20%;
    position: absolute;
    animation-name: rodarEsquerda;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    left: 400px;
    z-index: -1;
}
/* Principal */
#inicial{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    font-size: 3rem;
    text-align: center;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 5px solid black;
}

.titulo{
    font-weight: 700;
    color: #c9751b;
    font-size: 3rem;
    border-bottom: 5px solid #c9751b;
    margin: 25px;
}

#habilidades{
    background-color: hsla(261, 92%, 15%, 0.068);
    padding: 3rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px 0px;
}

.card{
    width: 33%;
    display: flex;
    align-items: center;
}

.iconeHabilidade{
    width: 20%;
    margin: 10px;
}

.infos{
    height: 100px;
    font-size: 3rem;
    font-weight: 700;
    color: #ef652a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#projetos{
    background-color: hsla(261, 92%, 15%, 0.068);
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 2rem;
}

#projetos .card{
    padding: 10px;
    width: 45%;
    border: 5px solid #c9751b;
}

.projetosIcone{
    width: 40%;
}

#projetos .linguagens{
    width: 50%;
}

.descricao{
    font-size: 1rem;
}

#projetos .infos{
    margin-left: 10px;
}

#sobre{
    margin: 40px;
    display: flex;
    padding: 20px;
    justify-content: center;
}

#foto{
    width: 30%;
}

#info{
    width: 50%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#descri{
    font-size: 2rem;

}

footer{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 2rem;
}

.subTitulo{
    text-align: center;
    font-size: 3rem;
}

#social{
    color: #ef652a;
    font-size: 6rem;
}

@keyframes rodarDireita{
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }
}

@keyframes rodarEsquerda{
    0%{
        transform: rotate(360deg);
    }

    100%{
        transform: rotate(0);
    }
}