@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;

    font-family: 'Comfortaa';
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--colorBg);
    color: var(--colorLetter);
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar{
    background-color: var(--especialColor2);
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--especialColor);
    border-radius: 10px;
}

header{
    height: 100px;

    color: var(--colorLetter);
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: space-around;

    transition: .5s;
}

header:hover{
    height: 150px;
    transition: .5s;
    background-color: var(--transparent);
}

header a,header a:visited{
    color: var(--colorLetter);
}

#name{
    font-size: 2rem; 
}

nav{
    width: 20%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

nav a:hover{
    color: var(--especialColor);
    transition: .3s;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 30px;
}

#emailBtn,#modeBtn{
    font-weight: 700;
    text-align: center;
    
    border: 3px solid var(--colorLetter);
    border-radius: 10px;
    padding: .5rem;
    transition: .5s;
}

#emailBtn:hover, #modeBtn:hover{
    background-color: var(--colorLetter);
    border-radius: 50px;
    color: var(--colorBg);
    transition: .5s;
}

main{
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

svg{
    width: 35%;

    z-index: -1;
    left: 14%;
    position: absolute;
}

#firstPart{
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#externalSvg,#internalSvg{
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 20s;
    transform-origin: center;
}

#externalSvg{
    fill: var(--especialColor2);
   
    animation-name: rotateRight;
}

#internalSvg{
    fill:var(--especialColor);
    animation-name: rotateLeft;
}

h1{
    border-bottom: 5px solid var(--colorLetter);

    font-size: 3rem;
    text-align: center;
}

.title{
    border-bottom: 5px solid var(--especialColor);
    margin: 25px;

    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: var(--especialColor);
}

#projects,#skills{
    min-width: 500px;
    background-color: var(--transparent);
    border-radius: 50px;
    padding: 2rem;

    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
}

#skills{   
    gap: 30px 0px;
}

.card{
    width: 33%;
    min-width: 300px;

    display: flex;
    align-items: center;
}

.nameSkill{
    font-size: 70%;
}

.iconSkill{
    width: 20%;
    margin: 10px;
    min-width: 50px;
}

.levelSkill i{
    font-size: 80%;
}

.infos{
    height: 100px;

    font-size: 3rem;
    font-weight: 700;
    color: var(--especialColor2);

    display: flex;
    flex-direction: column;
}

#projects{
    height: 800px;
    width: 90%;
    gap: 2rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    overflow: hidden;
    overflow-y: scroll;

}

#projects::-webkit-scrollbar{
    border-radius: 0px 50px 50px 0px;
}

#projects::-webkit-scrollbar-thumb{
    border-radius: 0px 50px 50px 0px;
}

#projects .card{
    width: 40%;
    

    border: 5px solid var(--especialColor);
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    grid-template-areas: "Thumb Desc" "Skills Links";

    align-items: center;
    justify-items: center;

}

.projectThumb{
    width: 300px;
    border: 5px solid var(--especialColor);
    pointer-events: none;

    grid-area: Thumb;
}

#projects .skills{
    width: 300px;

    display: flex;
    flex-wrap: wrap;
    grid-area: Skills;
}

#projects .skills .iconSkill{
    width: 20%;

    pointer-events: none;
}

.projectsDesc{
    width: 100%;
    max-height: 170px;

    border: 5px solid var(--especialColor);
    padding: 1rem;
    color: var(--especialColor2);

    font-size: 1rem;

    grid-area: Desc;
}

.projectsLinks{
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;

   grid-area: Links;
}

.projectLink{
    height: 70px;
    max-width: 600px;
    background-color: var(--especialColor);
    color: var(--especialColor2);
    padding: 2rem;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    font-weight: 900;
}

.linkIcon{
    
    font-size: 3rem;
}

.linkName{
    font-size: 1rem;
    text-align: center;
}

#about{
    margin: 40px;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#photo{
    width: 30%;
    min-width: 200px;
}


#info{
    width: 50%;
    margin-left: 30px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#descri{
    font-size: 2rem;
}

footer{
    width: 100%;
    height: 300px;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.subTitle{
    font-size: 3rem;
    text-align: center;
}

#social a{
    font-size: 6rem;
    color: var(--especialColor2);
    margin: 30px;
}

#transition{
    width: 100vw;
    height: 300vh;
    visibility: hidden;
    background-color: var(--especialColor2);
    position: fixed;
    
}

.transition{
    animation-name: transitionAnimate;
    animation-duration: 1s;
}


@media (max-width: 1336px){
    
    h1{
        font-size: 2rem;
    }

    nav{
        flex-direction: column;
        align-items: center;
    }

    #projects,#skills{
        width: 80%;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .card{
        width: 20%;
        flex-direction: column;
        text-align: center;
    }

    #skills .infos{
        align-items: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nameSkill{
        font-size: 60%;
    }
    
    svg{
        width: 80%;
        left: 10%;
    }

    #photo{
        width: 40%;
    }

    #info{
        align-items: center;
        text-align: center;
        width: 50%;
        margin-left: 0;
    }

    #about{
        flex-direction: column;
        align-items: center;
    }

    #descri{
        min-width: 400px;
        font-size: 1.5rem;
    }
    
    #projects .card{
        width: 80%;
        padding-bottom: 5%;
        align-items: center;
        gap: 20px;
    }

    .infoProjects{
        margin: 3%;
        align-items: center;
    }
    
    .infoProjects .skills{
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .projectsIcon img{
        width: 65%;
    }
}

@media (max-width: 770px){
    header{
        gap: 60px;
    }

    #name{
        font-size: 90%;
        text-align: center;
    }

    .logo{
        font-size: 50%;
    }

    nav{
        font-size: 60%;
    }

    .buttons{
        font-size: 70%;
        flex-direction: column;
        gap: 5px;
    }
    
    main{
        padding: 0;
    }

    #skills,#projects,#about{
        width: 90%;
        min-width: 0;
        gap: 10px;
        padding:  30px 0px;
        border-radius: 0px;
    }

    #info{
        width: 80%;
    }

    #about{
        align-items: center;
    }

    #descri{       
         min-width: 300px;

        font-size: 1rem;
    }

    #projects .card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projectThumb{
        width: 250px;
    }

    #projects .skills{
        justify-content: center;
    }

    .subTitle{
        font-size: 1rem;
    }

    #social{
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 3rem;
    }

    footer{
        height: auto;
    }
}

@keyframes rotateRight{
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }
}

@keyframes rotateLeft{
    0%{
        transform: rotate(360deg);
    }

    100%{
        transform: rotate(0);
    }
}

@keyframes transitionAnimate{
    0%{
        opacity: 100%;        
    }

    100%{
        opacity: 30%;        
    }
}
